h2 a, h3 a {
  color: #fff;
  text-decoration: none;
}

article p {
  text-align: justify;
}

article h1 {
  font-size: 1.75rem;
}

article h2 {
  font-size: 1.5rem;
}

article h3 {
  font-size: 1.25rem;
}

article .img-wrapper, article figure {
  width: 100%;
  position: relative;
}

article .img-wrapper img, article figure img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

article figure {
  border-radius: 1rem;
}

article h1,
h2,
h3 {
  font-weight: bold;
}

.container-single-article {
  max-width: 768px;
  overflow: hidden;
}

.container-single-article {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.card-img-wrapper {
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.card-img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card .card-body .card-text {
  text-align: justify;
}

.card .card-body p.card-text.text-elipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 3em;
  line-height: 1.5em;
}

.card:hover {
  box-shadow: #8B5DFF 3px 5px 10px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.2) rotate(3deg);
  transition: all 0.5s ease-in-out;
}